HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache


# Package Files #
*.jar
*.war
*.ear

# Java
*.class

# Package Files #
*.jar
*.war
*.ear

# maven
target/

# Eclipse files
.project
.classpath
.settings

